.header {
  width: 100%;
  max-width: none;
}

.chat-container {
  /* display: grid;
  grid-template-columns: 32rem 1fr 32rem; */
  display: flex;
  background-color: #f2eacc;
  padding: 60px 0 0;
  min-height: 100vh;
  position: relative;
}

.chats {
  padding: 2rem 0;
  background-color: #f2eacc;
  width: 32rem;
  transition: 0.5s;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2.4rem;
  padding: 0 1rem;
}

.header-title {
  font-size: 2.4rem;
  font-weight: 500;
}

.icons button {
  width: 3.6rem;
  height: 3.6rem;
  display: inline-block;
  border-radius: 50%;
  background-color: #d3ceba;
}

.icons svg {
  width: 2.4rem;
}

.chat-search {
  margin-bottom: 2.4rem;
  padding: 0 1rem;
}

.input-group {
  display: flex;
  align-items: center;
  background-color: #e1dabf;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
}

.input-group svg {
  width: 1.6rem;
}

.input-search {
  font-size: 1.6rem;
  font-weight: 300;
  font-family: inherit;
  flex: 1;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
}

.input-control::placeholder {
  color: #707070;
}

.chat-item {
  padding: 1rem;
}

.chat-item.active {
  background-color: #e7ddb7;
}

.conversation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid #c9c9c9;
}

.user {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.user img {
  width: 5.8rem;
}

.img-box {
  position: relative;
}

.img-box::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  right: 5px;
  bottom: 2px;
  background-color: #158a20;
}

.username {
  font-size: 2rem;
  font-weight: 500;
}

.active-now {
  font-size: 1.6rem;
  font-weight: 300;
  color: #5f6368;
}

.call-btn svg {
  width: 2.4rem;
}

.conversation {
  position: relative;
  flex: 1;
  background-color: #fff;
  /* min-height: 100vh; */
}

.typing-container {
  overflow: auto;
  height: 70%;
}

.person-type {
  margin: 1rem;
}

.type-text {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
  padding: 2rem;
  max-width: 39rem;
  width: 75%;
  background-color: #e8e6db;
  border-radius: 20px 20px 20px 0;
}

.type-time {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #707070;
}

.type-text-2 {
  background-color: #c4e4f6;
  margin-left: auto;
}

.type-time-2 {
  text-align: right;
}

.typing {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  position: absolute;
  left: 0;
  bottom: 2rem;
  width: 100%;
  padding: 0 1rem;
}

.attach-btn svg {
  width: 2.4rem;
}

.typing-form .input-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #d9d9d7;
}

.typing-input {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 1.6rem;
  font-weight: 300;
}

.typing-form {
  flex: 1;
}

.photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 36rem;
  margin-left: auto;
}

.photos img {
  width: 100%;
}

.profile {
  padding: 4.8rem 3rem;
  text-align: center;
  width: 32rem;
  position: relative;
}

.profile-img {
  width: 10.4rem;
  margin-bottom: 1.6rem;
}

.profile-name {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 4.8rem;
}

.profile-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.profile-icons p {
  font-size: 1.6rem;
  font-weight: 300;
}

.profile-btn {
  width: 5.2rem;
  height: 5.2rem;
  border-radius: 50%;
  background-color: #d3ceba;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.6rem;
}

.menu-icon {
  /* position: absolute;
  top: 0;
  right: 5rem; */
  cursor: pointer;
  display: none;
  padding: 1rem;
}

.line {
  width: 2.5rem;
  height: 2px;
  background-color: #000;
  margin-bottom: 5px;
}

.chats.active {
  transform: translateX(0);
}

@media (max-width: 800px) {
  .chats {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 32rem;
    height: 100%;
    transform: translateX(-100%);
    background-color: #fff;
    z-index: 1000;
  }

  .menu-icon {
    display: block;
  }
}

@media (max-width: 550px) {
  .chat-container {
    flex-wrap: wrap;
  }
  .conversation {
    width: 100%;
  }
  .profile {
    display: none;
  }
}
