/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  position: relative;
}

.carousel-item {
  height: 100vh;
}

.carousel-indicators button {
  width: 8px !important;
  height: 8px !important;
  border-radius: 2px !important;
  background-color: #fff !important;
  transition: 0.5s !important;
}

.carousel-indicators button.active {
  background-color: #2387c2 !important;
  width: 20px !important;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.hero-box {
  width: 100%;
  max-width: 78rem;
  position: absolute;
  left: 50%;
  bottom: 3rem;
  transform: translate(-50%, 0%);
  text-align: center;
  padding: 3rem 1.5rem;
  z-index: 100;
}

.hero-search {
  padding: 1.5rem;
  border-radius: 10px;
  background-color: rgba(217, 217, 215, 0.83);
  margin-bottom: 2rem;
}

.hero-form {
  display: grid;
  grid-template-columns: 1fr 14rem;
  gap: 1.5rem;
}

.input-group {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #f6f6f6;
  border-radius: 10px;
  padding: 1rem 2rem;
}

.hero-form img {
  width: 2.4rem;
}

.search-input {
  flex: 1;
  font-size: 2rem;
  font-weight: 500;
  background-color: #f6f6f6;
  border: none;
  outline: none;
}

.search-btn {
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  background-image: linear-gradient(#2387c2, #11405c);
  border: none;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.find-partner:link,
.find-partner:visited {
  display: inline-block;
  color: #fff;
  background-color: rgba(174, 174, 174, 0.5);
  font-size: 2rem;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 2rem;
  transition: 0.3s;
}

.find-partner:hover,
.find-partner:active {
  background-color: rgba(174, 174, 174, 0.8);
}

.chat-item:hover {
  background-color: #ddd;
}

/**************************/
/* CITIES SECTION */
/**************************/

.section-cities {
  padding: 6.5rem 0;
  position: relative;
}

.wavy-lines {
  position: absolute;
  top: 10rem;
  right: 0;
  width: 6.5rem;
}

.section-cities::before,
.section-cities::after {
  content: "";
  position: absolute;
  display: block;
  width: 22rem;
  height: 22rem;
  border-radius: 50%;
  transform: translateX(-50%);
}

.section-cities::before {
  border: 4rem solid rgba(35, 135, 194, 0.2);
  top: 25rem;
}

.section-cities::after {
  border: 4rem solid rgba(255, 212, 51, 0.2);
  top: 15rem;
}

.slider {
  max-width: 100rem;
  height: 30rem;
  margin: 0 auto;
  position: relative;
}

.slider-slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 30rem;
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  transition: opacity 0.01s;
}

.slider-slide img {
  /* Only for images that have different size than slide */
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-bottom: 1.5rem;
}

.slider__btn {
  width: 5.6rem;
  height: 5.6rem;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2387c2 !important;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
}

.slider__btn--left {
  left: -10rem;
}

.slider__btn--right {
  right: -10rem;
}

.cities {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: center;
}

.slide-left {
  animation: slideLeft 0.4s;
}

.slide-right {
  animation: slideRight 0.4s;
}

.cities > div:first-child .prev-active {
  animation: slideRight 0.4s;
}
.cities > div:nth-child(2) .prev-active {
  animation: slideRight 0.4s;
}
.cities > div:nth-child(3) .prev-active {
  animation: slideLeft 0.4s;
}

.cities > div:first-child .next-active {
  animation: slideLeft 0.4s;
}
.cities > div:nth-child(2) .next-active {
  animation: slideLeft 0.4s;
}
.cities > div:nth-child(3) .next-active {
  animation: slideRight 0.4s;
}

.next-active:first-child {
  animation: slideRight 0.5s;
}
.next-active:nth-child(2) {
  animation: slideLeft 0.5s;
}
.next-active:last-child {
  animation: slideRight 0.5s;
}
@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-40%);
  }

  75% {
    transform: translateX(40%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(40%);
  }

  75% {
    transform: translateX(-40%);
  }

  100% {
    transform: translateX(0);
  }
}

/**************************/
/* RECOMMEND SECTION */
/**************************/

.section-recommmend {
  padding-bottom: 6.5rem;
  position: relative;
}

.section-recommmend::before {
  content: "";
  position: absolute;
  top: 10rem;
  right: 0;
  width: 28.8rem;
  height: 28.8rem;
  border-radius: 50%;
  display: block;
  border: 4rem solid rgba(255, 212, 51, 0.2);
  transform: translateX(50%);
}

.recommend-swiper img {
  width: 100%;
}

.swiper-slide-content {
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #f2eacc;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.img-box {
  position: relative;
}

.img-overlay {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.25);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s;
  opacity: 0;
}

.room-name {
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 0;
}

.price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 1.6rem;
  font-weight: 300;
  color: #aeaeae;
  margin: 0;
}

.price span {
  color: #f3704a;
}

.ratings {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.ratings svg {
  width: 1.7rem;
}

.room-number {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.room-count {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
}

.room-count img {
  width: 1.6rem;
}

.recommend-swiper .swiper-slide:hover .img-overlay {
  opacity: 1;
}

/**************************/
/* ROMMATE SECTION */
/**************************/

.section-roommate {
  padding-bottom: 6.5rem;
  position: relative;
}

.section-roommate::before {
  content: "";
  position: absolute;
  display: block;
  border-radius: 50%;
}

.section-roommate::before {
  width: 20rem;
  height: 20rem;
  border: 4rem solid rgba(243, 112, 74, 0.2);
  top: 5rem;

  transform: translateX(-50%);
}

.image-accordion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.image-accordion-title {
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
  width: 18rem;
  flex: 0 0 20%;
}

.roommate {
  position: relative;
  flex: 0 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 2rem;
  font-weight: 300;
  padding: 1.5rem;
  background-image: url(../img/roommate\ hover.png);
  background-size: cover;
  background-position: top;
  color: #fff;
  height: 47rem;
  border-radius: 20px;
  transition: 0.5s ease-out;
}

.roommate-content {
  display: none;
  align-items: flex-end;

  opacity: 0;
  visibility: hidden;
}

.roommate.active {
  flex: 1;
}

.roommate.active .roommate-content {
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: space-between;
  width: 75%;
  position: absolute;
  left: 50px;
  bottom: 30px;
  gap: 7rem;
}

/* .roommate.active .rotate-name {
  display: none;
} */

.roommate-name {
  font-size: 24px;
  font-weight: 500;
  /* writing-mode: vertical-lr; */
  transform-origin: left bottom;
  transform: rotate(-90deg); /* Rotate to make it bottom-to-top */
  transition: 0.8s;
  position: absolute;
  left: 50px;
  bottom: 50px;
  width: max-content;
}

.roommate-rating {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
}

.roommate.active .roommate-name {
  transform: rotate(0deg);
}

@media (max-width: 1200px) {
  .section-cities {
    text-align: center;
  }

  .arrow {
    position: static;
    display: inline-flex;
    margin-top: 6.4rem;
    margin-right: 2rem;
  }
}

@media (max-width: 991px) {
  .header-icons {
    justify-content: center;
  }

  .header .dropdown {
    position: static;
  }

  .dropdown-list {
    left: 0;
    width: 100%;
    top: 100%;
  }

  .image-accordion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem;
  }

  .roommate {
    width: 100%;
  }

  .roommate-content {
    opacity: 1;
    visibility: visible;
    display: flex;
  }

  .roommate-name {
    transform: none;
  }

  .footer-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  /* .hero-box {
    position: static;
    max-width: none;
    transform: none;
  } */
  .hero-form {
    grid-template-columns: 1fr;
  }

  .input-group {
    padding: 1rem 0.5rem;
  }

  .find-partner:link,
  .find-partner:visited {
    background-color: rgba(174, 174, 174, 0.95);
  }

  .find-partner:hover,
  .find-partner:active {
    background-color: rgba(174, 174, 174, 1);
  }
}

@media (max-width: 500px) {
  .image-accordion {
    grid-template-columns: 1fr;
  }

  .image-accordion-title {
    width: auto;
    text-align: center;
  }
  .footer-grid {
    grid-template-columns: 1fr;
  }
}
